@use '../helpers' as *;
.footer{
  padding-top: rem(16);
  padding-bottom: rem(16);
  .flex-wrap{
    flex-direction: column;
    gap: rem(16);
    display: none;
    @include media(md){
      flex-direction: row;
    }
  }
  &__copyright{
    letter-spacing: -0.01em;
    color: #677371;
    text-align: center;
    @include media(md){
      text-align: right;
    }
  }
  &__develop{
    a{
      color: var(--accent);
      letter-spacing: -0.01em;
    }
  }
}