@use '../helpers/index' as *;
.reviews{
  padding-top: rem(40);
  padding-bottom: rem(40);
  margin-top: rem(-25);
  @include media(sm){
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  h2{
    font-weight: 500;
    @include media(rxl){
      width: 50%;
    }
    span{
      font-weight: 500;
      font-family: var(--font-family);
      font-size: fluid(56,36);
    }
  }
  .swiper{
    padding-top: rem(50);
    .nav{
      top: rem(20);
      &:after{
        content: none;
      }
    }
    .swiper-button-prev{
      right: 60px;
      left: auto;
    }
  }
  figure{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    background: #18181a;
    img{
      height: auto;
      pointer-events: none;
    }
  }
  .swiper-slide {
    height: clamp(405px, 30vw, 368px);
    @include media(md){
      height: clamp(250px, 30vw, 368px);
    }
  }
}

.video-card {
  cursor: pointer;
  position: relative;
  &:after{
    content: none;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.3s;
    @include media(md){
      content: '▶';
    }
  }
  &.playing::after{
    opacity: 0;
  }
}